body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    background-image: url('imagem/1.jpg'); /* Substitua pelo caminho correto para a sua imagem de fundo */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.square {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    width: 400px; /* Ajuste o tamanho do contêiner conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.field input,
.field select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.button-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #45a049;
}

#suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#suggestions ul li {
    padding: 5px;
    cursor: pointer;
}

#suggestions ul li:hover {
    background-color: #f2f2f2;
}

.suggestions li::before {
    content: none;
}

li.selected {
    background-color: #282424;
}

h1 {
    text-align: center;
    margin-top: 100px;
    position: relative;
    font-size: 50px; /* Tamanho da fonte grande */
    font-weight: bold; /* Negrito */
    color: #ffffff; /* Cor em grafite */
}